* {
    font-family: 'Montserrat', sans-serif;
}

#informations-conversion {
    flex-direction: column;
}

#informations-conversion select {
    margin-bottom: 2rem;
}

.bi-arrow-left-right {
    display: inline-block;
    transform: rotate(-90deg);
}

.bi-arrow-left-right, .bi-arrow-counterclockwise {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 5px;
}

#conversion-result {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    #informations-conversion {
        flex-direction: row;
    }

    #informations-conversion select {
        margin-bottom: 0;
    }

    .bi-arrow-left-right {
        transform: none;
    }

    .bi-arrow-left-right, .bi-arrow-counterclockwise {
        padding: 0;
    }

    #conversion-result {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }    
}