:root {
    --color-one: #7000F9;
    --color-two: #0324FA;
    --color-three: #7781C2;
    --color-four: #F3F4F6;
    --color-five: #443952;
    --color-six: #000000;
}

* {
    font-family: 'Montserrat', sans-serif;
}

#link-quickconvert{
    color: var(--color-four);
}

#btn-toggler {
    box-shadow: none;
    outline: 0;
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar {
    background-image: linear-gradient(to bottom, #7000f9, #0324fa);
}

#navbarNav a {
    color: var(--color-four);
    transition: 0.3s;
}

#navbarNav a:hover {
    color: var(--color-six);
}

#informations-conversion {
    flex-direction: column;
}

#informations-conversion select {
    margin-bottom: 2rem;
}

#icon-conversion-form {
    transform: rotate(-90deg);
}

.bi-arrow-left-right, .bi-arrow-counterclockwise {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 5px;
}

#container-section-conversoes {
    border-radius: 10px;
    background: #f8f8ff;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
    width: 320px;
    height: auto;
}

.title-combinacoes {
    font-size: 1.3rem;
}

#img-country-table {
    height: 15px;
    object-fit: cover;
}

#container-table {
    display: flex;
    justify-content: center;
}

#table-variacoes {
    width: auto;
}

#accordionAboutConversion {
    width: auto;
    margin: 0 auto;
}

#nav-items-icons-sociais i {
    margin-right: 20px;
}

.navbar-brand {
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#footer-informations {
    background: var(--color-three);
    color: #fff;
}

#footer-informations a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

#footer-informations a:hover {
    color: #d7d9db;
}

#footer-informations i {
    margin-right: 10px;
    color: var(--color-four);
}

#container-newsletter {
    margin: 0 auto;
}

#form-newsletter {
    display: flex;
    gap: 10px;
}

#form-newsletter input {
    border-radius: 5px;
}

#form-newsletter input:focus {
    box-shadow: none;
}

#form-newsletter button {
    background: transparent;
    border-color: var(--color-one);
    transition: .3s;
    font-weight: bolder;
    border-radius: 10px;
    padding: 10px;
}

#form-newsletter button:hover {
    background: var(--color-one);
}

#icon-conversion-form  {
    transform: rotate(-90deg);
}

#icon-conversion {
    transform: rotate(-90deg);
    padding: 10px;
}

@media (min-width: 768px) {
    #informations-conversion {
        flex-direction: row;
    }

    #informations-conversion select {
        margin-bottom: 0;
    }

    .bi-arrow-left-right, .bi-arrow-counterclockwise {
        padding: 0;
    }
    
    #container-section-conversoes {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 800px;
        height: 200px;
    }

    .title-combinacoes {
        font-size: 2.5rem;
    }

    #table-variacoes {
        width: 600px;
    }

    #accordionAboutConversion {
        width: 600px;
        margin: 0 auto;
    }

    #nav-items-icons-sociais {
       position: absolute;
       left: 80%;
    }

    .navbar-brand {
        font-weight: bolder;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 10px;
    }

    #icon-conversion {
        transform: rotate(-90deg);
        padding: 10px;
    }

    #icon-conversion-form  {
        transform: none;
    }
}

@media(min-width: 992px) {
    #icon-conversion {
        transform: none;
    }
}