* {
    font-family: 'Montserrat', sans-serif;
}

#informations-conversion {
    flex-direction: column;
}

#informations-conversion select {
    margin-bottom: 2rem;
}

.bi-arrow-left-right {
    display: inline-block;
    transform: rotate(-90deg);
}

.bi-arrow-left-right, .bi-arrow-counterclockwise {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 5px;
}

#container-section-conversoes {
    border-radius: 10px;
    background: #f8f8ff;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
    width: 320px;
    height: auto;
}

.title-combinacoes {
    font-size: 1.3rem;
}

#img-country-table {
    height: 15px;
    object-fit: cover;
}

#container-table {
    display: flex;
    justify-content: center;
}

#table-variacoes {
    width: auto;
}

#accordionAboutConversion {
    width: auto;
    margin: 0 auto;
}

#nav-items-icons-sociais i {
    margin-right: 20px;
}

.navbar-brand {
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media (min-width: 768px) {
    #informations-conversion {
        flex-direction: row;
    }

    #informations-conversion select {
        margin-bottom: 0;
    }

    .bi-arrow-left-right {
        transform: none;
    }

    .bi-arrow-left-right, .bi-arrow-counterclockwise {
        padding: 0;
    }
    
    #container-section-conversoes {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 800px;
        height: 200px;
    }

    .title-combinacoes {
        font-size: 2.5rem;
    }

    #table-variacoes {
        width: 600px;
    }

    #accordionAboutConversion {
        width: 600px;
        margin: 0 auto;
    }

    #nav-items-icons-sociais {
       position: absolute;
       left: 80%;
    }
}